{% extends 'base.html.twig' %}

{% block title %}Épisode 
	{{ episode.number}}
{% endblock %}

{% block body %}
	<h1>Saison {{ season.number}} de {{ program.title }}, {{ season.year }}</h1>
	<h2>Épisode {{ episode.number }}</h2>
    <p>{{ episode.synopsis }}</p>
{% endblock %}