{% extends "base.html.twig" %}

{% block title %}All programs{% endblock %}

{% block body %}
<h1 class="text-center">Toutes les séries disponibles: </h1>
<main class="container">
    
    <div class=" mb-3">
        {% for program in programs %}
        <div class="row g-0 p-4">
            <div class="col-md-4">
                <img src="{{ program.poster }}" class="img-fluid rounded-start" alt="{{ program.title }}">
            </div>
            <div class="col-md-8 align-self-center">
                <div class="card-body">
                    <h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
                    <p>{{ program.summary }}</p>
                    <a href="{{ path('program_show', { slug: program.slug }) }}" class="btn btn-secondary p-2 px-4">
                        Voir le détail</a>
                </div>
            </div>           
        </div>
        {% else %}
        Aucune série trouvée.
        {% endfor %}
        <a href="{{ path('app_index') }}" class="btn btn-primary">Retour à l'accueil</a>
    </div>
</main>
{% endblock %}
